recipes.vtl

<h1>Recipes:</h1>

<ul>
  #foreach ($recipe in $recipes)
    <li><a href="/recipes/$recipe.getId()">$recipe.getTitle()</a></li>
  #end
</ul>

<a href="/">Create new recipe</a>
<a href="/">Create category</a>
